<h1>Ahora si, solo te falta una sala</h1>
<h3>En esta ultima sala tendras que desifrar una adivinanza, es tan simple como eso</h3>
<h5>Tiene ojos y no ve, tiene agua y no la bebe, tiene carne y no la come, tiene barba y no es hombre. Que es?
</h5>

<form action='@Url.Action("Habitacion","Home")'>
    <th><input type="respuesta" min="4310" max="4310" name="clave"></th>
    <input type="submit" value="ResolverSala">
</form>

<h4>Para ayudarte:</h4>

<button onclick="alert('Pista 1: La respuesta esta muy relacionada con la tematica de la sala de escape')"> Pista 1 </button>
