<h1>FELICIDADES, has pasado de sala</h1>
<h3>Es momento de averiguar el numero de la habitacion del hotel</h3>
<h3>En esta sala tendras que decifrar el valor numerico de A, B, C y D</h3>
<h4>Escribe los numeros uno al lado del otro sin espacio y compruebe la respuesta</h4>
<img src="/acertijo1.png" width="500px">


<form action='@Url.Action("Habitacion","Home")'>
    <th><input type="respuesta" min="4310" max="4310" name="clave"></th>
    <input type="submit" value="ResolverSala">
</form>

<h4>Para ayudarte:</h4>

<button onclick="alert('Pista 1: Todos los numeros son menores a 5')"> Pista 1 </button>
<button onclick="alert('Pista 2: No se repite ningun numero en toda la cuenta')"> Pista 2 </button>

