<h1>Ya casi terminas</h1>
<h3>Esta es una sala de ingenio y tendras que ir desifrando los valores de las siguientes frutas, para obtener el resultado final</h3>
<img src="/frutasSumas.png" alt="">

<form action='@Url.Action("Habitacion","Home")'>
    <th><input type="respuesta" name="clave"></th>
    <input type="submit" value="ResolverSala">
</form>

<h4>Para ayudarte:</h4>

<button onclick="alert('Pista 1: Tene en cuenta que no son las mimsas cantidades de cada fruta en la ultima')"> Pista 1 </button>
<button onclick="alert('Pista 2: Enfocate en las bananas y en el coco, siguiendo lo de la pista anterior')"> Pista 2 </button>
