html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body{
  background-color: aqua;
}
.indice1{
  float: left;
}

.indice h4 a{
float: left;
margin: 5%;
font-size: 30px;
border: 3px solid black;
border-radius: 60px;
text-decoration: none;
}

.contenido{
  margin: 1%;
  width: 100%;
  float: right;
  text-align: center;
  border-radius: 25px;
}

.imagenes img{
  width: 30%;
  
}
.imagenes{
margin-left: 8%;
}

.eslogan img{
  margin: 1%;
  border: 2px solid black;
  border-radius: 8%;
}
.eslogan{
text-align: center;
}

.imagenMia{
text-align: center;
}

.adelanto{
  margin-top: 5%;
  border: 3px solid red;
  width: 17%;
  float:left;
}
.adelanto h4,h3{
  font-size: 100%;
}

.intro h4{
  border: 3px solid green;
  border-radius: 3%;
  float:left;
  font-size: 30px;
}
.intro{
  width: 15%;
}

.acertijo img{
  width: 35%;
}
.acertijo{
text-align: center;
}